@media (max-width: 768px) {
  nav {
    height: 10vh;
  }
  video {
    height: 10vh;
  }
  .scrolltop {
    right: 2.5rem;
    bottom: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .scrolltop svg {
    height: 1rem;
  }
  .shrink {
    height: 10vh;
  }
  br {
    display: none;
  }
  .sticky-container {
    right: -165px;
  }
  :root {
    --marquee-width: 100%;
    --marquee-height: 10vh;
    --marquee-elements-displayed: 1;
  }
  .marquee::before,
  .marquee::after {
    width: 5rem;
  }
  body {
    gap: 7rem;
  }
  body:nth-last-of-type(1) {
    gap: 0;
  }
  .hero {
    padding: 5rem 0;
    flex-wrap: wrap;
  }
  .slideshow .swiper-slide {
    width: 100%;
  }
  .achievement div {
    width: 200%;
  }
  .about {
    padding: 5rem 0;
    flex-wrap: wrap;
  }
  .marquee::before,
  .marquee::after {
    width: 5rem;
  }
  .testimonial-info {
    flex-wrap: wrap;
    font-size: clamp(1rem, 5vw, 1.6rem);
  }
  .testimonial-text p,
  .testimonial-text figcaption {
    font-size: clamp(1rem, 5vw, 1.6rem);
  }
  .contact .container {
    flex-wrap: wrap;
  }
  .contact iframe {
    height: 20%;
  }
  .contact .contact-btn {
    flex-wrap: wrap;
  }
  .contact .contact-btn a {
    width: 100%;
  }
  .contact .reply-email {
    flex-wrap: wrap;
  }
  .contact .reply-email input {
    width: 100%;
  }
  .contact .reply-email button {
    width: 100%;
  }
  .contact .right-col .form {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .contact .right-col .name-org {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact .right-col .name-org input {
    width: 100%;
  }
  .contact .right-col .mobile-email {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact .right-col .mobile-email input {
    width: 100%;
  }
  .footer .flex {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .policy .flex {
    align-items: start;
    flex-direction: column;
  }
  .policy .flex li {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .achievement div {
    width: 300%;
  }
}

@media (max-width: 480px) {
  nav {
    height: 10vh;
  }
  video {
    height: 10vh;
  }
  br {
    display: none;
  }
  :root {
    --marquee-width: 100%;
    --marquee-height: 10vh;
    --marquee-elements-displayed: 1;
  }
  .marquee::before,
  .marquee::after {
    width: 5rem;
  }
  .contact .container {
    flex-wrap: wrap;
  }
  .contact iframe {
    height: 20%;
  }
  .contact .contact-btn {
    flex-wrap: wrap;
  }
  .contact .contact-btn a {
    width: 100%;
  }
  .contact .reply-email {
    flex-wrap: wrap;
  }
  .contact .reply-email input {
    width: 100%;
  }
  .contact .reply-email button {
    width: 100%;
  }
  .contact .right-col .form {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .contact .right-col .name-org {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact .right-col .name-org input {
    width: 100%;
  }
  .contact .right-col .mobile-email {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .contact .right-col .mobile-email input {
    width: 100%;
  }
  .footer .flex {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .policy .flex {
    align-items: start;
    flex-direction: column;
  }
  .policy .flex li {
    padding-left: 0;
  }
}
